<h1>Friends List</h1>

<table>
<% @friends.each do |f| %>
  <tr>
    <td><%= f.username %></td>
    <td><%= link_to 'Show details', :action => "show", :id=>f.id %></td>
  </tr>
<% end %>
</table>

<br />

<%#= link_to 'New User relation', new_user_relation_path %>
